@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  padding: none;
  margin: none;
}

body {
  font-family: "Oswald", sans-serif;
}

#sidebar {
  background-color: rgb(175, 194, 191);
}

#main {
  min-height: 100vh;
  font-size: 3vh;
}

#view {
  min-height: 93vh;
}

.nav {
  flex-direction: column;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: stretch;
  font-size: 2.5vh;
}

.nav-link {
  text-decoration: none;
  color: black;
}

#about-me-teaser-border {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}

#about-me-teaser {
  padding: 5px;
}

.breaker-box {
  height: 30px;
}

.image-container {
  margin: 10px 0;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform .2s;
}
.image1{
    display: block;
    width: 100%;
    height: 100%;
    transition: transform .2s;
    border-radius: 20px;
  }

.image-sidebar {
  display: block;
  width: 100%;
  height: 100%;
}

.image:hover {
  transform: scale(1.05);
}
.image1:hover {
  transform: scale(1.05);
}


footer {
  display: block;
  min-height: 7vh;
  width: 100%;
  text-align: center;
  font-size: 1.5vh;
  margin-top: 4.5vh;
}

.fa-instagram {
  color: black;
  font-size: 1.5vh;
  top: 3vh;
}

h3 {
  margin-top: 65px;
}
h2 {
  margin-top: 25px;
}

p{
  text-align: justify;
  font-size: 2vh;
}
