@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  padding: none;
  margin: none;
}

body {
  font-family: "Oswald", sans-serif;
}

/* Sidebar */
#sidebar {
  background-color: rgb(175, 194, 191);
}



#view {
  min-height: 93vh;
}

.nav {
  flex-direction: column;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: stretch;
  font-size: 2.5vh;
}

.nav-link {
  text-decoration: none;
  color: black;
}

/* Main section*/
#main {
  min-height: 100vh;
  font-size: 3vh;
}

#about-me-teaser-border {
  border-radius: 20px;
  padding: 10px;
}

#about-me-teaser {
  padding: 5px;
}

.breaker-box {
  height: 30px;
}

.image-container {
  margin: 10px 0;
}

.container-slide{
  display: none;

}

/*
.fade {
  animation-name: fade;
  animation-duration: 3s;
}


@keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}
*/

.active {
  display: flex;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
  border-radius: 20px;
}



.image-sidebar {
  display: block;
  width: 100%;
  height: 100%;
}

.image-container {
  position: relative;
  text-align: center;
  transition: 0.5s ease;
  color: rgba(0, 0, 0, 0);
}

.image-container:hover {
  transform: scale(1.05);
  color: black;
}

.overlay:hover {
  border-radius: 20px;
  background-color: white;
  opacity: .6;
}

.text-overlay {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 100%;
  opacity: 1;
}




/*
.overlay {
  display: block;
  width: 100%;
  height: 0%;
  transition: transform 0.2s;
  border-radius: 20px;
  transition: 0.5s ease;
  opacity: 0;
}

.text1 {
  color: white;
  font-size: 28px;
  position: absolute;
  top: 80%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text2 {
  color: white;
  font-size: 28px;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text3 {
  color: white;
  font-size: 28px;
  position: absolute;
  top: 80%;
  left: 84%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
*/


/* Footer section */

footer {
  display: block;
  min-height: 7vh;
  width: 100%;
  text-align: center;
  font-size: 1.5vh;
}

.fa-instagram {
  color: black;
  font-size: 1.5vh;
  top: 3vh;
}

h3 {
  margin-top: 65px;
}
h2 {
  margin-top: 25px;
}

p {
  text-align: justify;
  font-size: 2vh;
}
